.last div{
    width: 200px;
}

.new{
    text-align: left;
}

.new button{
    border-radius: 20px;
   background-color: rgb(154, 240, 240); 
   width: 100px;
   color: black;
   border: 10px;
}

.last{
    display: flex;
    background-color: rgb(34, 34, 44);
    color: white;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    
}

input{
    height: 50px;
    background-color:rgb(234, 231, 231);
}
h3{
    padding-right: 25px;
     
}
.first{
    width: 90%;
}
